<template>
    <div class="overlay">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="6" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"/></circle></svg>
    </div>
</template>

<script>
export default {
    name: "Loading",
}
</script>

<style scoped>
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.overlay::before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    opacity: .9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

</style>
