<template>
    <div class="qr-scanner">
        <loading v-if="state.loading"/>
        <div class="content" v-show="state.isCamera">
            <transition name="bounce">
                <div v-show="state.scanning" class="preview">
                    <video  ref="videoScanner"/>
                </div>
            </transition>
            <transition name="bounce">
                <div v-if="state.qrValue" class="result">
                    {{state.qrValue}}
                </div>
            </transition>
            <div class="action">
                <button class="toggle-scan" @click="toggleScanning">
                    {{ state.scanning ? 'Stop scanning' : 'Scanning'}}
                </button>

                <button v-if="state.isFlash" @click="toggleFlash">
                    {{ isFlashOn ? 'Off' : 'On' }} Flash
                </button>

                <div class="field">
                    <label>
                        Set Camera
                    </label>
                    <select :value="state.activeCamera" @change="setCamera">
                        <option v-for="{id, label} in state.listCameras" :key="id" :value="id">{{label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="error" v-if="state.error">
            {{state.error}}
        </div>
    </div>
</template>

<script>
import useQrScanner from '../hooks/useQrScaner';
import Loading from './Loader';

export default {
    name: "QrScanner",
    components: { Loading },
    setup () {
        const {
            videoScanner,
            state,
            setCamera,
            toggleScanning,
            toggleFlash
        } = useQrScanner()

        return {
            videoScanner,
            setCamera,
            state,
            toggleScanning,
            toggleFlash
        }
    }
}
</script>

<style scoped>
.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.qr-scanner {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    margin: 15px auto;
    padding: 5px;
}

.preview {
    background: #000;
    height: 332px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.preview video {
    max-width: 100%;
    max-height: 100%;
}

.result {
    margin-bottom: 15px;
    border: 2px solid #eee;
    padding: 15px;
}

.action {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-gap: 16px;
}

.action button {
    margin: 15px 15px 15px 0;
}

</style>
