<template>
 <div class="app">
    <qr-scanner/>
 </div>
</template>

<script>
import QrScanner from './component/QrScaner';
export default {
    name: "App",
    components: { QrScanner }
}
</script>

<style scoped>
.app * {
    box-sizing: border-box;
}
</style>
